*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* ===== SERVICES ===== */
.contact{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #101a20;
  padding-bottom: 60px;
}
.contactContainer{
  width: 83%;
  
}

/* ===== firstRow ===== */
.firstRow{
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
}

.firstRow h1{
  color: #dee2e6;
  font-size: 50px;
  
}

.firstRow p{
  max-width: 700px;
  
  margin: 20px auto 0;
  padding: 0 20px;
  color: #dee2e6;
  font-size: 18px;
  text-align: center;
}

/* ===== contactSecondRow ===== */
.contactSecondRow{
  display: grid;
  max-width: 1480px;
  /* margin: auto; */
  grid-template-columns: 40% 60%;
  gap: 20px;
  padding: 0 20px;
}

.contact .leftCol{
    border:2px solid white;
    width: 100%;
    border-radius: 10px;
    color: white;
    background:#141f26;
    padding: 20px;
}

.leftCol .firstDiv{
  display: flex;
  gap: 30px;
}

.leftCol h3{
  color: #dee2e6;
  font-size: 25px;
}

.leftCol p{color: #dee2e6;
  }
/* ==== .rightCol ==== */
.contact .rightCol{
    border:2px solid white;
    width: 100%;
    border-radius: 10px;
     background:#141f26;
     color:white;
     padding: 20px;
    
}
.rightCol .form-control{
    background-color: #24333d !important;
    
}
.rightCol input::placeholder{
  color: white;
}

.rightCol .form-outline, .form-control::placeholder{
  color:white;
  font-size: 14px;
}

 .form-outline .form-control {
    background-color:#24333d !important;
 }
 .rightCol .form-control:focus {
    background-color:#24333d !important;
 }

 
  .rightCol h2, .leftCol h2{
  color: #dee2e6;
  font-size: 35px;
  padding-bottom: 20px;
}
 
 
/* Autofill background fix */
.rightCol input:-webkit-autofill,
.rightCol input:-webkit-autofill:hover,
.rightCol input:-webkit-autofill:focus,
.rightCol textarea:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #24333d inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* ==== button div ===== */

.contact .btndiv{
  width: 100%;
  text-align: center;
  margin-top: 20px;
 }
/* ===== BUTTONS ===== */
.contact .rightCol button{
  padding: 12px 24px;
  /* background-color: black; */
  background-color: #24333d;
  color: #dee2e6;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.contact .rightCol button:hover{
  background: transparent;
  border: 2px solid white;
}

@media(max-width:500px){
  .leftCol .firstDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactSecondRow .leftCol{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
}


@media (max-width: 970px){
  .contactSecondRow{
    grid-template-columns:100%;
  }
}

/* @media (max-width: 768px){
  .contactSecondRow{
    grid-template-columns: 50% 50%;
  }
} */

/* @media (max-width: 500px){
  .contactSecondRow{
    grid-template-columns: 100%;
  }

  .contact{
    padding-top: 20px;
    padding-bottom: 40px;
  }
} */
