*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* ===== SERVICES ===== */
.cssProjects{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #101a20;
  padding-bottom: 60px;
}
 .cssProjects .cssContainer{ max-width: 83%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;}

/* ===== firstRow ===== */
.cssProjects .firstRow{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  text-align: center;
}

 .cssProjects .firstRow h1{
  color: #dee2e6;
  font-size: 50px;
}

 .cssProjects .firstRow p{
  max-width: 800px;
  margin: 20px auto 0;
  padding: 0 20px;
  color: #dee2e6;
  font-size: 18px;
  text-align: center;
}

/* ===== secondRow ===== */
 .cssProjects .secondRow{
  display: grid;
  max-width: 1080px;
  margin: auto;
  grid-template-columns:50% 50%;
  gap: 20px;
  padding: 0 20px;
}

/* ===== cards ===== */
 .cssProjects .secondRow .card{
   background-color:white; 
   color: black;
  
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align:center; */
  padding: 10px 20px;
  gap: 12px;
  border-radius: 8px;
  
}
.cssProjects .secondRow .card p{
  margin-top: 10px;
  margin-bottom: -5px;
  font-weight: bold;
}
 
.cssProjects .secondRow .card img{
  width: 100%;
}

 

.secondRow .card h4{
  font-size: 18px;
}

.secondRow .card p{
  font-size: 14px;
  line-height: 1.6;
}

.cssProjects .one{
    padding: 6px 30px;

  background: transparent;      /* no background */
  border: 2px solid black;      /* black border */
  color: black;                 /* black text */
font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.cssProjects .two{
    padding: 6px 18px;

  background: transparent;      /* no background */
  border: 2px solid black;      /* black border */
  color: black;                 /* black text */
font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.cssProjects .one a, .cssProjects .two a {
  text-decoration: none;
  color:black;
}

.cssProjects .one a:hover, .cssProjects .two a:hover {
  
  color:white;
}
.cssProjects div{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;      
  justify-content: center;
  margin-bottom: 20px;
}
.cssProjects button:hover {
  background: black;
  
}



/* ===== RESPONSIVE ===== */



@media (max-width: 768px){
 .cssProjects .secondRow{
    grid-template-columns:100%;
  }
}

@media (max-width: 500px){
  .CssProjects{
    padding-top: 20px;
    padding-bottom: 40px;
  }
}


@media(max-width:1060px){
  .cssProjects button{
   padding: 8px 20px;  
 
   background-color: black; 
  color: #dee2e6;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
  border: none;
  white-space: nowrap;
}
}

@media(max-width:925px){
  
.cssProjects div{
  display: flex;
  flex-direction: row;
  
}
}